<div class="header">
  <div class="logo">Weather App</div>
  <div class="container">
    <input value="mumbai" type="text" #inp>
    <button (click)="getData(inp.value)">Fetch Data</button>
  </div>
</div>

<div class="box" *ngIf="weatherData">
    <p> <b>City Name :---- </b>{{weatherData.name}}</p>
    <p> <b>Tempreture  :----  </b>{{weatherData.main.temp}}°C</p>
    <p> <b>Min Tempreture  :----  </b>{{weatherData.main.temp_min}}°C</p>
    <p> <b>Max Tempreture  :----  </b>{{weatherData.main.temp_max}}°C</p>
    <p> <b>Pressure  :---- </b> {{weatherData.main.pressure}}N/m2</p>
    <p> <b>Humidity  :----  </b>{{weatherData.main.humidity}}g.m-3</p>
    <p> <b>Wind Speed  :----  </b>{{weatherData.wind.speed}}m/s</p>
    <p> <b>Country  :----  </b>{{weatherData.sys.country}}</p>
</div>